.discover{
    font-family: 'Poppins', sans-serif;
    // height: 500px;
    width: 100%;
    background-image: url('../../../public/img/cta-bg.jpg');
    background-size: cover;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span{
        color: white;
        margin: 3%;
    }
    button{
        background-color: rgba(223,67,64,255);
        color: white;
        border: 1px solid rgba(223,67,64,255);
        border-radius:2px;
    }
}

@media(min-width:320px) and (max-width:641px){
    .discover{
        height: 200px;
       button{
           padding:5px;
       }
    }
}
@media(min-width:642px) and (max-width:1007px){
    .discover{
        height: 400px;
        span{
            font-size: 30px;
        }
        button{
            font-size: 15px;
            padding:8px;
        }
    }
}
@media(min-width:1007px){
    .discover{
        height: 500px;
        span{
            font-size: 50px;
        }
        button{
            font-size: 15px;
            padding:10px;
        }
        
    }
}
