.galerie3{
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5%;

    
    
    .living{
        // width: 32%;
        // height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../../public/img/services/service-1.jpg');
        background-size: cover;
        h1{
            color: white;
            border-bottom:1px solid white;
            font-weight: normal;
            padding-left: 10%;
            padding-right: 10%;
        }
        h1:hover{
            font-size:35px;
            transition: 1s;
            cursor: pointer;
        }
    }

    .sale{
        // width: 32%;
        // height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../../public/img/services/service-2.jpg');
        background-size: cover;
        h1{
        color: white;
        border-bottom:1px solid white;
        font-weight: normal;
        padding-left: 10%;
        padding-right: 10%;
        }
        h1:hover{
            font-size:35px;
            transition: 1s;
            cursor: pointer;
        }
    }
    .clothes{
        // width: 32%;
        // height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../../public/img/services/slider-3.jpg');
        background-size: cover;
        h1{
        color: white;
        border-bottom:1px solid white;
        font-weight: normal;
        padding-left: 10%;
        padding-right: 10%;
        }
        h1:hover{
            font-size:35px;
            transition: 1s;
            cursor: pointer;
        }
        
    }
}


@media(min-width:320px) and (max-width:641px){
    .galerie3{
        flex-direction: column;
        .living{
            width: 100%;
            height: 150px;
            margin-bottom: 5px;
        }
        .sale{
            width: 100%;
            height: 150px;
            margin-bottom: 5px;
        }
        .clothes{
            width: 100%;
            height: 150px;
            

        }
    }
}
@media(min-width:642px) and (max-width:1007px){
    .galerie3{
        
        .living{
            width: 32%;
            height: 200px;
            
        }
        .sale{
            width: 32%;
            height: 200px;
            margin-bottom: 5px;
        }
        .clothes{
            width: 32%;
            height: 200px;

        }
    }
}
@media(min-width:1007px){
    .galerie3{
        
        .living{
            width: 32%;
            height: 200px;
            margin-bottom: 5px;
        }
        .sale{
            width: 32%;
            height: 200px;
            margin-bottom: 5px;
        }
        .clothes{
            width: 32%;
            height: 200px;

        }
    }
}